<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>page1</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </head>

	<body>
	<div class= "container"> 
		<div class="row"> 
			<div class="col-sm-12"> 
				<h1>still working on this site</h1>
					<form id="inputForm"> 
						<input id="artist" type="text" name="artist" placeholder="artist" required>
						<!-- <input id="songTitle" type="text" name="songTitle" placeholder="song title"> -->
						<input class="btn" id="search" type="submit" value="artistSearch">
					</form>


				<div class="stuffGoesHere"> </div>

			</div>
		</div>
	</div>
	</body>
</html>
